*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
    


}

html {
    scroll-behavior: smooth;
    overflow: hidden;
  }





    .wrapper{
        height: 100vh;
        
        overflow-y: auto;
        overflow-x: hidden;
        perspective: 10px;
    }


.container{
    background: linear-gradient(350deg, rgba(29,188,253,1) 0%, rgba(29,188,253,1) 0%, rgba(19,113,171,1) 16%, rgba(12,60,113,1) 28%, rgba(12,57,110,1) 30%, rgba(6,12,60,1) 47%);
    
}




.home-header{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    transform-style: preserve-3d;
    z-index: -1;
}




.fore1{
    top:26%;
    color:black;
    position: absolute;
    width: 100vw;
   
}
.background,.fore{
 
    position: absolute;
   
    top:-200px;
    object-fit: cover;
    
}


.background{
    transform: translateZ(-25px)scale(6);
}
.fore{
    transform: translateZ(-20px)scale(2);
}

.title{
    
    color: rgb(255, 255, 255);
    z-index: 1;
    font-size:800%;
    text-shadow: 0 0 10px black;
    transition: .3s;
}
.title:hover{
    color: rgb(5, 79, 139);
    font-size:900%;
    text-shadow: 0 0 10px black;

}

.About{
   
    height:100vh;
    
}



.header{
    position: sticky;
    align-items: center;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.089), rgba(255, 255, 255, 0.247));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(2px);
    border:1px solid rgba(255, 255, 255, 0.18); box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    border-radius: 20px;

    display: flex;
    justify-content: space-between;
    padding: 1% 20%;

    text-decoration: none;
}


.Logo{

    color: rgb(255, 255, 255);
    font-size: 100%;
    text-decoration: none;
    font-weight: 700;
    transition: .3s;


 
    
}


.navbar a{
    color: white;
    text-decoration: none;
    margin: 15px;
    font-size: 100%;
    font-weight: 700;
    transition: .3s;
   
}


.Logo:hover , .navbar a:hover{
    font-size: 150%;
    color: rgb(0, 102, 255);
    

}


.textWrap{
    position: relative;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.13), rgba(255, 255, 255, 0.212));
    border:1px solid rgba(255, 255, 255, 0.18); box-shadow: 0 10px 100px 0 rgba(0, 0, 0, 0.37);
    border-radius: 20px;
    margin: 5%;
    
    align-items:center;
    display: inline-block;
    align-items: center;
    display: flex;
    flex-wrap: wrap;


    height: 80vh;
    transition: .3s;
}




.textWrap:hover{
    height: 83vh;
}


.jam{
    
    position: relative;
    width: 20rem;
    height: 20rem;
    
}

.Jamier{
    text-align: center;
    
    position: relative;
   
    font-size: 300%;
    color: rgb(255, 252, 252);
    text-shadow: 0 0 10px rgb(2, 95, 182);
}

.aboutJ{
   
 
 
    font-size: 120%;
    color: rgb(255, 252, 252);
   text-align: center;
    position: relative;
    font-weight: 500;
   
   
}


    
.Contacts{

   
    width: 50%;
    font-size: 300%;
    color: rgb(255, 252, 252);
   text-align: center;
    
    position: relative;
    font-weight: 500;

}




.stats{
    position: relative;
    background: linear-gradient(135deg, rgba(69, 27, 182, 0.493),rgba(17, 95, 211, 0.452));
    border:1px solid rgba(255, 255, 255, 0.18); box-shadow: 0 10px 100px 0 rgba(0, 0, 0, 0.37);
    border-radius: 20px;
    margin: 5%;
    
    align-items:center;

    padding: 0% 15%;
    height: 20%;
    justify-content: space-between;
    display: flex;
   
    flex-wrap: nowrap;
    text-align: center;
   
   
 
}

.skills , .Education{
    font-size: 100%;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 10px black;
    margin: 30px;

    
}

li{
    font-size: 100%;
    color: rgb(255, 255, 255);
    font-weight: 500;
}





button{
 position: absolute;
 display: flex;
 
font-size: 20px;
font-weight: 500;
 color: rgb(1, 48, 255);
 background-color: rgb(244, 244, 255);
 text-shadow: 0 0 5px rgb(62, 168, 255);
 border-radius: 30px;
 width: 185px;
 height: 50px;
 transition: .3s;

 transform: translate(0%,200%);

}



button:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(11, 129, 240);

}







.icons{
    position: absolute;
    font-size: 30px;
   
    transform: translateY(320%);
   
    text-align: center;
   
}

.fa-brands.fa-facebook-f{
    color: white;
    transition: .3s;
}
.fa-brands.fa-facebook-f:hover{
    font-size: 40px;
    color: #39569c;
}



.fa-brands.fa-instagram{
    color: white;
    transition: .3s;
}

.fa-brands.fa-instagram:hover{
    font-size: 40px;
    border-radius: 9px;
    background: #f09433; 
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
   
}

body{
    width: 100%;
    height: 100vh;

}









    @media (max-width: 1149px){
        .aboutJ{
            font-size: 90%;
           
        }
    
        .jam{
            width: 15rem;
        height: 15rem;
        }
       
        li{
            font-size: 70%;
        }
    
    }

    @media (max-width: 799px){
        .aboutJ{
            font-size: 90%;
           
        }
    
        .jam{
            width: 12rem;
        height: 12rem;
        }
       
        li{
            font-size: 50%;
        }
    
    }


    @media (max-width: 599px){
        .aboutJ{
            font-size: 90%;
           
        }
    
        .jam{
           
            width: 12rem;
             height: 12rem;
            
        }
        .stats{
            width: 470px;
        }
       
        li{
            font-size:5%;
        }
    
    }



   
